{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">A little bit about who I am</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hey there! I’m Khesha, a gym rat who loves the thrill of riding motorcycles and exploring new places. Adventure is a big part of my life, whether it’s hitting the road, discovering hidden spots, or just enjoying the ride.
        </p>
        <p>
          I have a bunch of hobbies I really enjoy, like singing, playing chess, and solving Rubik’s cubes. I’m also a coffee lover. I love learning new things and sharing my experiences through this blog, which is my little corner for thoughts, experiments, and everyday life stories.
        </p>
        <p>
          Life for me is all about balancing fun, challenges, and growth. Whether it’s pushing limits in the gym, figuring out a tricky puzzle, or planning my next adventure, I try to embrace every moment and make the most of it.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
